<%- include('header') -%>

<!--== Bắt đầu Khu vực Tiêu đề Trang ==-->
<div class="page-header-wrap bg-img" data-bg="/assets/img/bg/page-header-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-header-content">
                    <div class="page-header-content-inner">
                        <h1>Thư viện ảnh</h1>

                        <ul class="breadcrumb">
                            <li><a href="index.html">Trang chủ</a></li>
                            <li class="current"><a href="#">Thư viện ảnh</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Kết thúc Khu vực Tiêu đề Trang ==-->
<style>
    .rainbow-btn {
        padding: 10px 20px;
        background-image: linear-gradient(to right, red, violet);
        color: white;
        font-weight: bold;
        transition: all 0.3s ease;
    }

    .rainbow-btn:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
</style>
<!--== Bắt đầu Wrapper Nội dung Trang ==-->
<div class="page-content-wrapper sp-y">
    <div class="gallery-page-content">
        <div class="container container-wide">
            <div class="row mtn-30 image-gallery">
                <% listGallery.forEach(function(item) { %>
                <div class="col-sm-6 col-lg-3">
                    <div class="gallery-item" style="border-radius: 20px; margin-bottom: 20px;"
                        data-mfp-src="/assets/img/product/<%= item.image %>">
                        <img height="150px" style="border-radius: 10px;" width="300px"
                            src="/assets/img/product/<%= item.image %>" alt="thư viện ảnh" />
                        <div class="gallery-item__text">
                            <h3><%= item.name %></h3>
                        </div>
                    </div>
                    <a href="/detail-product/<%= item.product_id %>" style="border-radius: 10px; padding: 10px 100px;"
                        class="rainbow-btn">Mua
                        ngay</a>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<!--== Kết thúc Wrapper Nội dung Trang ==-->
<%- include('footer') -%>